<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capstone.mapper.NanumMapper">
    <select id="getAllNanumMembers" parameterType="int" resultType="UserDto">
        select user.u_id, pw, name, bank, account, address, phone, point, u_x, u_y, road_address from orders, user where p_id=#{p_id} and user.u_id=orders.u_id;
    </select>

    <select id="getNanumMembersPos" parameterType="int" resultType="NanumMemberPosDto">
        select p_id,user.u_id,u_x,u_y from user left join orders on user.u_id=orders.u_id where orders.p_id=#{p_id};
    </select>

    <select id="getNanumOrders" parameterType="int" resultType="OrdersDto">
        select * from orders where p_id=#{p_id};
    </select>

    <update id="updateNanumOrders" parameterType="OrdersDto">
        update orders set menu=#{menu}, price=#{price}, request=#{request} where p_id=#{p_id} and u_id=#{u_id};
    </update>

    <insert id="blameUsers" parameterType="BlameDto">
        insert into blame ( b_id, u_id, blamed_id, reason) values(NULL, #{u_id},#{blamed_id},#{reason});
    </insert>
</mapper>